<!DOCTYPE html>
<html lang="en">
  <head>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <title>poto</title>
  </head>
  <body>
   <div>
    <div>
     <p>You are authenticated to the URL shortener as '{{ identity }}'.</p>
     <p>Please enter a URL to shorten, or delete an existing URL.</p>
    </div>
    <div>
     <form id="potoform" method="POST" action="{{ app_root }}">
      <table>
       <tr>
        <td><span>Code</span></td>
        <td><input id="code" name="code" placeholder="Enter desired code">&nbsp;
         <span id="checkOkay" style="display: none; color: green;">&check;</span>
         <span id="checkFail" style="color: red;">&cross;</span>&nbsp;&nbsp; leave blank to auto-assign<br />
        </td>
       </tr>
       <tr>
        <td><span>URL</span></td>
        <td><input class="form-control" id="url" name="url" placeholder="Enter destination URL"></td>
       </tr>
       <tr>
        <td colspan="2">
         <input type="submit" value="Create" />
        </td>
       </tr>
      </table>
     </form>
    </div>
    <div>
     <ul id="existing">
     {% for code in codes %}
      <li><a href="{{ code.url }}">{{ code.code }} - {{ code.url }}</a>&nbsp;<a href="{{ app_root }}?op=delete&code={{ code.code }}">[delete]</a></li>
     {% endfor %}
     </ul>
    </div>
   </div>
  </div>
  <script>
      $(document).ready(function(){
        $("#code").keyup(function(){
          $.ajax({
            url : '{{ app_root }}',
            type: 'GET',
            data: { op: "check", code : $("#code").val() },
            cache : false,
            statusCode: {
              200: function() { $('#checkOkay').css('display', 'none'); $('#checkFail').css('display', 'inline') },
              204: function() { $('#checkOkay').css('display', 'inline'); $('#checkFail').css('display', 'none') },
            }
          });
        });
      }); 
  </script>
 </body>
</html>
